@charset "UTF-8";
/* Import de la Google Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
/* Styles de base */
html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-backface-visibility: hidden;
  color: #000;
  background-color: #353535;
  font-size: 17px;
  font-weight: 400;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.content {
  background-color: #fff;
}

.cta {
  text-align: center;
  line-height: 1;
  width: 100%;
}
.cta a, .cta button {
  display: inline-block;
  color: #fff;
  padding: 17px 22px;
  border-radius: 30px;
  -webkit-box-shadow: 0 5px 10px #ccc;
          box-shadow: 0 5px 10px #ccc;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  position: relative;
  overflow: hidden;
  z-index: 100;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.25s -webkit-box-shadow ease-in-out;
  transition: 0.25s -webkit-box-shadow ease-in-out;
  transition: 0.25s box-shadow ease-in-out;
  transition: 0.25s box-shadow ease-in-out, 0.25s -webkit-box-shadow ease-in-out;
}
.cta a:after, .cta button:after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff93e1), to(#a16be0));
  background: linear-gradient(#ff93e1, #a16be0);
  opacity: 0;
  z-index: -100;
  -webkit-transition: 0.25s opacity ease-in-out, 0.25s background-color ease-in-out;
  transition: 0.25s opacity ease-in-out, 0.25s background-color ease-in-out;
}
.cta a:hover, .cta button:hover {
  -webkit-box-shadow: 0 5px 10px #aaa;
          box-shadow: 0 5px 10px #aaa;
  -webkit-transition: 0.25s -webkit-box-shadow ease-in-out;
  transition: 0.25s -webkit-box-shadow ease-in-out;
  transition: 0.25s box-shadow ease-in-out;
  transition: 0.25s box-shadow ease-in-out, 0.25s -webkit-box-shadow ease-in-out;
}
.cta a:hover:after, .cta button:hover:after {
  opacity: 1;
  -webkit-transition: 0.25s opacity ease-in-out, 0.25s background-color ease-in-out;
  transition: 0.25s opacity ease-in-out, 0.25s background-color ease-in-out;
}

h1 {
  font-size: 26px;
  margin: 0;
  line-height: 1.3;
  font-weight: 700;
}

h2 {
  font-size: 22px;
  margin: 0;
  line-height: 1.3;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  margin: 0;
  line-height: 1.4;
  font-weight: 700;
}

ul {
  font-size: 17px;
  margin: 0;
  padding-left: 0;
  line-height: 1.8;
}

li {
  list-style: none;
}

p {
  font-size: 17px;
  margin: 0;
  line-height: 1.5;
}
p strong {
  font-weight: 700;
}

.cls-1, .cls-2, .cls-3, .cls-4, .cls-5 {
  stroke-linecap: round;
}

.cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6 {
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 62px;
}

.cls-2 {
  stroke: #ccc;
}

.cls-3, .cls-6 {
  stroke: #ededed;
}

.cls-7 {
  fill: #ccc;
}

@-webkit-keyframes fullLoaderFadeOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  90% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes fullLoaderFadeOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  90% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@-webkit-keyframes loaderFadeIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  10% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  90% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}
@keyframes loaderFadeIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  10% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  90% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}
.loader {
  position: fixed;
  z-index: 103;
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s; /* durée de l'animation */
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out; /* type de easing */
  -webkit-animation-delay: 5.2s;
          animation-delay: 5.2s; /* durée avant le déclenchement */
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; /* nombre de fois où l'animation est jouée */
  -webkit-animation-name: fullLoaderFadeOut;
          animation-name: fullLoaderFadeOut; /* appel keyframes */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; /* empêcher l'animation de revenir au début lorsqu'elle a joué une fois */
}
.loader__svg {
  display: block;
  max-width: 60%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -30%;
  margin-top: -20%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation-duration: 5s;
          animation-duration: 5s; /* durée de l'animation */
  -webkit-animation-timing-function: cubic-bezier(0.54, -0.01, 0.27, 1.5);
          animation-timing-function: cubic-bezier(0.54, -0.01, 0.27, 1.5); /* type de easing */
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; /* durée avant le déclenchement */
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; /* nombre de fois où l'animation est jouée */
  -webkit-animation-name: loaderFadeIn;
          animation-name: loaderFadeIn; /* appel keyframes */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; /* empêcher l'animation de revenir au début lorsqu'elle a joué une fois */
}

@-webkit-keyframes loadGroupFadeIn {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-transform-origin: center;
            transform-origin: center;
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center;
            transform-origin: center;
    opacity: 1;
  }
}

@keyframes loadGroupFadeIn {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-transform-origin: center;
            transform-origin: center;
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center;
            transform-origin: center;
    opacity: 1;
  }
}
#load_1_group,
#load_2_group,
#load_3_group {
  opacity: 0;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s; /* durée de l'animation */
  -webkit-animation-timing-function: cubic-bezier(0.54, -0.01, 0.27, 1.5);
          animation-timing-function: cubic-bezier(0.54, -0.01, 0.27, 1.5); /* type de easing */
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; /* nombre de fois où l'animation est jouée */
  -webkit-animation-name: loadGroupFadeIn;
          animation-name: loadGroupFadeIn; /* appel keyframes */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; /* empêcher l'animation de revenir au début lorsqu'elle a joué une fois */
}

#load_1_group {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; /* durée avant le déclenchement */
}

#load_2_group {
  -webkit-animation-delay: 0.65s;
          animation-delay: 0.65s; /* durée avant le déclenchement */
}

#load_3_group {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s; /* durée avant le déclenchement */
}

@-webkit-keyframes forkKnife {
  0% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
    -webkit-transform-origin: center;
            transform-origin: center;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: center;
            transform-origin: center;
    opacity: 1;
  }
}

@keyframes forkKnife {
  0% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
    -webkit-transform-origin: center;
            transform-origin: center;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: center;
            transform-origin: center;
    opacity: 1;
  }
}
#fork_knife {
  display: block;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 0;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s; /* durée de l'animation */
  -webkit-animation-timing-function: cubic-bezier(0.54, -0.01, 0.27, 1.5);
          animation-timing-function: cubic-bezier(0.54, -0.01, 0.27, 1.5); /* type de easing */
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s; /* durée avant le déclenchement */
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; /* nombre de fois où l'animation est jouée */
  -webkit-animation-name: forkKnife;
          animation-name: forkKnife; /* appel keyframes */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; /* empêcher l'animation de revenir au début lorsqu'elle a joué une fois */
}

@-webkit-keyframes loadersFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loadersFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#load_1_groupspin_opacity {
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s; /* durée de l'animation */
  -webkit-animation-timing-function: cubic-bezier(0.54, -0.01, 0.27, 1.5);
          animation-timing-function: cubic-bezier(0.54, -0.01, 0.27, 1.5); /* type de easing */
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; /* nombre de fois où l'animation est jouée */
  -webkit-animation-name: loadersFadeIn;
          animation-name: loadersFadeIn; /* appel keyframes */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; /* empêcher l'animation de revenir au début lorsqu'elle a joué une fois */
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#load_1 {
  stroke: #99E2D0;
}

#load_2 {
  stroke: #9356DC;
}

#load_3 {
  stroke: #FF79DA;
}

@-webkit-keyframes loadersSpin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}

@keyframes loadersSpin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}
#load_1_groupspin,
#load_2_groupspin,
#load_3_groupspin {
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; /* type de easing */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; /* nombre de fois où l'animation est jouée */
  -webkit-animation-name: loadersSpin;
          animation-name: loadersSpin; /* appel keyframes */
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

#load_1_groupspin {
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
}

#load_2_groupspin {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

#load_3_groupspin {
  -webkit-animation-duration: 3.4s;
          animation-duration: 3.4s;
}

@media only screen and (min-width: 768px) {
  .loader__svg {
    max-width: 30%;
    margin-left: -15%;
    margin-top: -10%;
  }
}
@-webkit-keyframes returnHome {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    color: #9356DC;
  }
  50% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    color: #FF79DA;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    color: #9356DC;
  }
}
@keyframes returnHome {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    color: #9356DC;
  }
  50% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    color: #FF79DA;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    color: #9356DC;
  }
}
.main_header {
  background-color: #fff;
}
.main_header__wrapper {
  position: relative;
  -webkit-box-shadow: 0 0 10px #ccc;
          box-shadow: 0 0 10px #ccc;
  z-index: 1;
}
.main_header__branding {
  width: auto;
  display: block;
  padding: 20px 0 15px 0;
  max-width: calc(100% - 40px);
  margin: auto;
  position: relative;
}
.main_header__branding .return {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -14px;
}
.main_header__branding .return a {
  color: #353535;
}
.main_header__branding .return a i {
  font-size: 28px;
  line-height: 1;
}
.main_header__branding .return a:hover i {
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s; /* durée de l'animation */
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out; /* type de easing */
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; /* nombre de fois où l'animation est jouée */
  -webkit-animation-name: returnHome;
          animation-name: returnHome; /* appel keyframes */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; /* empêcher l'animation de revenir au début lorsqu'elle a joué une fois */
  -webkit-animation-delay: 0;
          animation-delay: 0;
}
.main_header__branding img {
  height: auto;
  width: 165px;
  margin: auto;
}
.main_header__location {
  padding: 13px 0;
  background-color: #eaeaea;
}
.main_header__location p {
  max-width: calc(100% - 40px);
  margin: auto;
  text-align: center;
  color: #353535;
  font-weight: 500;
}
.main_header__location p i {
  margin-right: 10px;
}

@media only screen and (min-width: 768px) {
  .main_header__branding {
    width: 90%;
    max-width: 1100px;
    margin: auto;
  }
}
.head_restaurant {
  background-color: #f6f6f6;
  padding-bottom: 40px;
}
.head_restaurant__wrapper {
  position: relative;
}
.head_restaurant__wrapper__img {
  padding-top: 75%;
  position: relative;
}
.head_restaurant__wrapper__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.head_restaurant__wrapper__title {
  background-color: #f6f6f6;
  padding-top: 40px;
  border-radius: 40px 40px 0 0;
  position: absolute;
  width: 100%;
  bottom: -7px;
}
.head_restaurant__wrapper__title__w {
  max-width: calc(100% - 40px);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.head_restaurant__wrapper__title__w h1 {
  color: #000;
  font-family: "Shrikhand", cursive;
  width: calc(100% - 30px);
}
.head_restaurant__wrapper__title__w__like {
  width: 30px;
  height: 30px;
  position: relative;
}
.head_restaurant__wrapper__title__w__like .like {
  right: 0;
}

@media only screen and (min-width: 600px) {
  .head_restaurant__wrapper__img {
    padding-top: 56.25%;
  }
  .head_restaurant__wrapper__title__w h1 {
    width: calc(100% - 55px);
  }
  .head_restaurant__wrapper__title__w__like {
    width: 50px;
  }
  .head_restaurant__wrapper__title__w__like .like {
    right: 25px;
  }
}
@media only screen and (min-width: 768px) {
  .head_restaurant {
    padding-bottom: 60px;
  }
  .head_restaurant__wrapper {
    max-width: 600px;
    margin: auto;
  }
  .head_restaurant__wrapper__img img {
    border-radius: 12px;
  }
  .head_restaurant__wrapper__title {
    width: calc(100% - 80px);
    padding-top: 30px;
    border-radius: 30px 30px 0 0;
    left: 40px;
  }
  .head_restaurant__wrapper__title__w h1 {
    width: calc(100% - 30px);
  }
  .head_restaurant__wrapper__title__w__like {
    width: 30px;
  }
  .head_restaurant__wrapper__title__w__like .like {
    right: 0px;
  }
}
.welcome_home__col__wrapper {
  max-width: calc(100% - 40px);
  margin: auto;
}
.welcome_home__col--start {
  padding: 60px 0;
  background: #f6f6f6;
  background: -webkit-gradient(linear, left bottom, left top, from(#f6f6f6), to(#fff));
  background: linear-gradient(0deg, #f6f6f6 0%, #fff 100%);
}
.welcome_home__col--start * {
  text-align: center;
}
.welcome_home__col--start .welcome_home__txt {
  font-weight: 300;
  font-size: 18px;
}
.welcome_home__col--start .welcome_home__btn {
  margin-top: 35px;
}
.welcome_home__col--howto {
  padding: 60px 0;
}
.welcome_home__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.welcome_home__howtoitem {
  margin-bottom: 20px;
  padding-left: 13px;
}
.welcome_home__howtoitem:last-child {
  margin-bottom: 0;
}
.welcome_home__howtoitem__box {
  display: block;
  border-radius: 18px;
  padding: 30px;
  background-color: #f6f6f6;
  font-weight: 700;
  position: relative;
  -webkit-box-shadow: 0 5px 15px #ccc;
          box-shadow: 0 5px 15px #ccc;
  -webkit-transition: 0.25s background-color ease-in-out;
  transition: 0.25s background-color ease-in-out;
  cursor: pointer;
}
.welcome_home__howtoitem__box__numb {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  left: -12px;
  border-radius: 50%;
}
.welcome_home__howtoitem__box__numb span {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: 14px;
}
.welcome_home__howtoitem__box i {
  color: #7e7e7e;
  margin-right: 18px;
  -webkit-transition: 0.25s color ease-in-out;
  transition: 0.25s color ease-in-out;
}
.welcome_home__howtoitem__box:hover {
  background-color: #f2eafb;
  -webkit-transition: 0.25s background-color ease-in-out;
  transition: 0.25s background-color ease-in-out;
}
.welcome_home__howtoitem__box:hover i {
  color: #9356DC;
  -webkit-transition: 0.25s color ease-in-out;
  transition: 0.25s color ease-in-out;
}

@media only screen and (min-width: 768px) {
  .welcome_home {
    padding: 60px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    max-width: 1100px;
    margin: auto;
  }
  .welcome_home__col__wrapper {
    max-width: inherit;
    margin: inherit;
  }
  .welcome_home__col--start {
    width: calc(50% - 20px);
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #ededed;
    position: relative;
  }
  .welcome_home__col--howto {
    width: calc(50% - 20px);
    padding: 0;
  }
  .welcome_home__col__wrapper--intro {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    padding: 20px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
.list_restaurants {
  background-color: #f6f6f6;
}
.list_restaurants__wrapper {
  padding: 60px 0 40px 0;
  max-width: calc(100% - 40px);
  margin: auto;
}
.list_restaurants__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.list_restaurants__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.restaurant {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 12px;
  width: 100%;
}
.restaurant a {
  border-radius: 12px;
  -webkit-box-shadow: 0 0 10px #ccc;
          box-shadow: 0 0 10px #ccc;
  display: block;
  -webkit-transition: 0.25s -webkit-box-shadow ease-in-out;
  transition: 0.25s -webkit-box-shadow ease-in-out;
  transition: 0.25s box-shadow ease-in-out;
  transition: 0.25s box-shadow ease-in-out, 0.25s -webkit-box-shadow ease-in-out;
}
.restaurant a:hover {
  -webkit-box-shadow: 0 0 20px #777;
          box-shadow: 0 0 20px #777;
  -webkit-transition: 0.25s -webkit-box-shadow ease-in-out;
  transition: 0.25s -webkit-box-shadow ease-in-out;
  transition: 0.25s box-shadow ease-in-out;
  transition: 0.25s box-shadow ease-in-out, 0.25s -webkit-box-shadow ease-in-out;
}
.restaurant a:hover .restaurant__name {
  color: #9356DC;
  -webkit-transition: 0.25s color ease-in-out;
  transition: 0.25s color ease-in-out;
}
.restaurant__img {
  border-radius: 12px 12px 0 0;
  position: relative;
  padding-top: 53%;
}
.restaurant__img img {
  border-radius: 12px 12px 0 0;
  position: absolute;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.restaurant__info {
  padding: 15px 80px 15px 20px;
  position: relative;
}
.restaurant__name {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 700;
  -webkit-transition: 0.25s color ease-in-out;
  transition: 0.25s color ease-in-out;
}
.restaurant__location {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 300;
}
.restaurant__like {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 100%;
}
.restaurant--new .restaurant__img:before {
  content: "Nouveau";
  position: absolute;
  padding: 10px 12px;
  color: #217460;
  background-color: #99E2D0;
  right: 12px;
  top: 12px;
  line-height: 1;
  font-size: 14px;
  border-radius: 3px;
  font-weight: 700;
  z-index: 1;
}

@-webkit-keyframes likePlainOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.5;
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  99% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}

@keyframes likePlainOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.5;
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  99% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}
.like {
  display: block;
  position: absolute;
  width: 30px;
  height: auto;
  top: 50%;
  margin-top: -13px;
  right: 25px;
  overflow: visible;
  cursor: pointer;
}
.like .like_plain {
  fill: url(#like-gradient);
  opacity: 0;
  -webkit-transition: 0.25s opacity ease-in-out;
  transition: 0.25s opacity ease-in-out;
  position: relative;
}
.like .like_outline {
  fill: #000;
  opacity: 1;
  -webkit-transition: 0.25s opacity ease-in-out;
  transition: 0.25s opacity ease-in-out;
}
.like .like_plain_out {
  fill: #FF79DA;
  opacity: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.like:hover .like_outline {
  opacity: 0;
  -webkit-transition: 0.25s opacity ease-in-out;
  transition: 0.25s opacity ease-in-out;
}
.like:hover .like_plain {
  opacity: 1;
  -webkit-transition: 0.25s opacity ease-in-out;
  transition: 0.25s opacity ease-in-out;
}
.like:hover .like_plain_out {
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s; /* durée de l'animation */
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out; /* type de easing */
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; /* nombre de fois où l'animation est jouée */
  -webkit-animation-name: likePlainOut;
          animation-name: likePlainOut; /* appel keyframes */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; /* empêcher l'animation de revenir au début lorsqu'elle a joué une fois */
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

@media only screen and (min-width: 768px) {
  .list_restaurants__wrapper {
    padding: 60px 0 20px 0;
    width: 90%;
    max-width: 1100px;
    margin: auto;
  }
  .restaurant {
    margin-bottom: 40px;
    width: calc(50% - 20px);
  }
}
.menu_restaurant {
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.menu_restaurant__wrapper {
  max-width: calc(100% - 40px);
  margin: auto;
}
.menu_restaurant__group {
  margin-bottom: 40px;
  display: block;
}
.menu_restaurant__group__title {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1;
  font-weight: 300;
  text-transform: uppercase;
}
.menu_restaurant__group__title::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin-top: 10px;
}
.menu_restaurant__box {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 15px #ccc;
          box-shadow: 0 5px 15px #ccc;
  border-radius: 12px;
  padding: 15px 12px;
  margin-bottom: 20px;
  display: block;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.menu_restaurant__box:last-child {
  margin-bottom: 0;
}
.menu_restaurant__box__content {
  width: 100%;
  display: block;
}
.menu_restaurant__box__content__plate {
  display: block;
  width: 100%;
  -webkit-transition: 0.4s width cubic-bezier(0.64, -0.45, 0.35, 1.38);
  transition: 0.4s width cubic-bezier(0.64, -0.45, 0.35, 1.38);
  font-size: 18px;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}
.menu_restaurant__box__content__infos {
  width: 100%;
  -webkit-transition: 0.4s width cubic-bezier(0.64, -0.45, 0.35, 1.38);
  transition: 0.4s width cubic-bezier(0.64, -0.45, 0.35, 1.38);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu_restaurant__box__content__infos__desc {
  display: block;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu_restaurant__box__content__infos__price {
  display: block;
  font-size: 15px;
  font-weight: 700;
  padding-left: 5px;
}
.menu_restaurant__box__check {
  display: none;
}
.menu_restaurant__box__checked {
  height: 100%;
  width: 60px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center right;
          transform-origin: center right;
  background-color: #99E2D0;
  border-radius: 0 12px 12px 0;
  right: 0;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s -webkit-transform cubic-bezier(0.64, -0.45, 0.35, 1.38);
  transition: 0.4s -webkit-transform cubic-bezier(0.64, -0.45, 0.35, 1.38);
  transition: 0.4s transform cubic-bezier(0.64, -0.45, 0.35, 1.38);
  transition: 0.4s transform cubic-bezier(0.64, -0.45, 0.35, 1.38), 0.4s -webkit-transform cubic-bezier(0.64, -0.45, 0.35, 1.38);
}
.menu_restaurant__box__checked i {
  color: #fff;
  font-size: 25px;
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  opacity: 0;
  -webkit-transition: 0.15s opacity ease-in-out, 0.3s -webkit-transform ease-in-out;
  transition: 0.15s opacity ease-in-out, 0.3s -webkit-transform ease-in-out;
  transition: 0.3s transform ease-in-out, 0.15s opacity ease-in-out;
  transition: 0.3s transform ease-in-out, 0.15s opacity ease-in-out, 0.3s -webkit-transform ease-in-out;
  -webkit-transition-delay: 0ms, 100ms;
          transition-delay: 0ms, 100ms;
}
.menu_restaurant__box:hover .menu_restaurant__box__content__plate {
  width: calc(100% - 65px);
  -webkit-transition: 0.4s width cubic-bezier(0.64, -0.45, 0.35, 1.38);
  transition: 0.4s width cubic-bezier(0.64, -0.45, 0.35, 1.38);
}
.menu_restaurant__box:hover .menu_restaurant__box__content__infos {
  width: calc(100% - 65px);
  -webkit-transition: 0.4s width cubic-bezier(0.64, -0.45, 0.35, 1.38);
  transition: 0.4s width cubic-bezier(0.64, -0.45, 0.35, 1.38);
}
.menu_restaurant__box:hover .menu_restaurant__box__checked {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: 0.4s -webkit-transform cubic-bezier(0.64, -0.45, 0.35, 1.38);
  transition: 0.4s -webkit-transform cubic-bezier(0.64, -0.45, 0.35, 1.38);
  transition: 0.4s transform cubic-bezier(0.64, -0.45, 0.35, 1.38);
  transition: 0.4s transform cubic-bezier(0.64, -0.45, 0.35, 1.38), 0.4s -webkit-transform cubic-bezier(0.64, -0.45, 0.35, 1.38);
}
.menu_restaurant__box:hover .menu_restaurant__box__checked i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1;
  -webkit-transition: 0.15s opacity ease-in-out, 0.3s -webkit-transform ease-in-out;
  transition: 0.15s opacity ease-in-out, 0.3s -webkit-transform ease-in-out;
  transition: 0.3s transform ease-in-out, 0.15s opacity ease-in-out;
  transition: 0.3s transform ease-in-out, 0.15s opacity ease-in-out, 0.3s -webkit-transform ease-in-out;
  -webkit-transition-delay: 300ms, 200ms;
          transition-delay: 300ms, 200ms;
}

@media only screen and (min-width: 768px) {
  .menu_restaurant {
    padding-top: 60px;
  }
  .menu_restaurant__wrapper {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu_restaurant__group {
    width: calc(50% - 15px);
  }
  .menu_restaurant__group:nth-child(1) {
    margin-right: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .menu_restaurant {
    padding-top: 60px;
  }
  .menu_restaurant__wrapper {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu_restaurant__group {
    width: calc(33.33% - 20px);
    margin-left: 0;
    margin-right: 0;
  }
  .menu_restaurant__group:nth-child(1) {
    margin-right: 0px;
  }
}
@-webkit-keyframes showPlate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes showPlate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
.menu_restaurant__box {
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.menu_restaurant__group__form .menu_restaurant__group:nth-child(1) .menu_restaurant__box:nth-child(1) {
  -webkit-animation: showPlate;
          animation: showPlate; /* appel keyframes */
  -webkit-animation-duration: 0.35s;
          animation-duration: 0.35s; /* durée de l'animation */
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out; /* type de easing */
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; /* nombre de fois où l'animation est jouée */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; /* empêcher l'animation de revenir au début lorsqu'elle a joué une fois */
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s; /* le delay est incréménter de O.2 pour chaque nouvel élément */
}

.menu_restaurant__group__form .menu_restaurant__group:nth-child(1) .menu_restaurant__box:nth-child(2) {
  -webkit-animation: showPlate;
          animation: showPlate; /* appel keyframes */
  -webkit-animation-duration: 0.35s;
          animation-duration: 0.35s; /* durée de l'animation */
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out; /* type de easing */
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; /* nombre de fois où l'animation est jouée */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; /* empêcher l'animation de revenir au début lorsqu'elle a joué une fois */
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s; /* le delay est incréménter de O.2 pour chaque nouvel élément */
}

.menu_restaurant__group__form .menu_restaurant__group:nth-child(1) .menu_restaurant__box:nth-child(3) {
  -webkit-animation: showPlate;
          animation: showPlate; /* appel keyframes */
  -webkit-animation-duration: 0.35s;
          animation-duration: 0.35s; /* durée de l'animation */
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out; /* type de easing */
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; /* nombre de fois où l'animation est jouée */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; /* empêcher l'animation de revenir au début lorsqu'elle a joué une fois */
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s; /* le delay est incréménter de O.2 pour chaque nouvel élément */
}

.menu_restaurant__group__form .menu_restaurant__group:nth-child(1) .menu_restaurant__box:nth-child(4) {
  -webkit-animation: showPlate;
          animation: showPlate; /* appel keyframes */
  -webkit-animation-duration: 0.35s;
          animation-duration: 0.35s; /* durée de l'animation */
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out; /* type de easing */
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; /* nombre de fois où l'animation est jouée */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; /* empêcher l'animation de revenir au début lorsqu'elle a joué une fois */
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s; /* le delay est incréménter de O.2 pour chaque nouvel élément */
}

.menu_restaurant__group__form .menu_restaurant__group:nth-child(2) .menu_restaurant__box:nth-child(1) {
  -webkit-animation: showPlate;
          animation: showPlate; /* appel keyframes */
  -webkit-animation-duration: 0.35s;
          animation-duration: 0.35s; /* durée de l'animation */
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out; /* type de easing */
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; /* nombre de fois où l'animation est jouée */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; /* empêcher l'animation de revenir au début lorsqu'elle a joué une fois */
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s; /* le delay est incréménter de O.2 pour chaque nouvel élément */
}

.menu_restaurant__group__form .menu_restaurant__group:nth-child(2) .menu_restaurant__box:nth-child(2) {
  -webkit-animation: showPlate;
          animation: showPlate; /* appel keyframes */
  -webkit-animation-duration: 0.35s;
          animation-duration: 0.35s; /* durée de l'animation */
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out; /* type de easing */
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; /* nombre de fois où l'animation est jouée */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; /* empêcher l'animation de revenir au début lorsqu'elle a joué une fois */
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s; /* le delay est incréménter de O.2 pour chaque nouvel élément */
}

.menu_restaurant__group__form .menu_restaurant__group:nth-child(2) .menu_restaurant__box:nth-child(3) {
  -webkit-animation: showPlate;
          animation: showPlate; /* appel keyframes */
  -webkit-animation-duration: 0.35s;
          animation-duration: 0.35s; /* durée de l'animation */
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out; /* type de easing */
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; /* nombre de fois où l'animation est jouée */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; /* empêcher l'animation de revenir au début lorsqu'elle a joué une fois */
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s; /* le delay est incréménter de O.2 pour chaque nouvel élément */
}

.menu_restaurant__group__form .menu_restaurant__group:nth-child(2) .menu_restaurant__box:nth-child(4) {
  -webkit-animation: showPlate;
          animation: showPlate; /* appel keyframes */
  -webkit-animation-duration: 0.35s;
          animation-duration: 0.35s; /* durée de l'animation */
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out; /* type de easing */
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; /* nombre de fois où l'animation est jouée */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; /* empêcher l'animation de revenir au début lorsqu'elle a joué une fois */
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s; /* le delay est incréménter de O.2 pour chaque nouvel élément */
}

.menu_restaurant__group__form .menu_restaurant__group:nth-child(3) .menu_restaurant__box:nth-child(1) {
  -webkit-animation: showPlate;
          animation: showPlate; /* appel keyframes */
  -webkit-animation-duration: 0.35s;
          animation-duration: 0.35s; /* durée de l'animation */
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out; /* type de easing */
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; /* nombre de fois où l'animation est jouée */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; /* empêcher l'animation de revenir au début lorsqu'elle a joué une fois */
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s; /* le delay est incréménter de O.2 pour chaque nouvel élément */
}

.menu_restaurant__group__form .menu_restaurant__group:nth-child(3) .menu_restaurant__box:nth-child(2) {
  -webkit-animation: showPlate;
          animation: showPlate; /* appel keyframes */
  -webkit-animation-duration: 0.35s;
          animation-duration: 0.35s; /* durée de l'animation */
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out; /* type de easing */
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; /* nombre de fois où l'animation est jouée */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; /* empêcher l'animation de revenir au début lorsqu'elle a joué une fois */
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s; /* le delay est incréménter de O.2 pour chaque nouvel élément */
}

.menu_restaurant__group__form .menu_restaurant__group:nth-child(3) .menu_restaurant__box:nth-child(3) {
  -webkit-animation: showPlate;
          animation: showPlate; /* appel keyframes */
  -webkit-animation-duration: 0.35s;
          animation-duration: 0.35s; /* durée de l'animation */
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out; /* type de easing */
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; /* nombre de fois où l'animation est jouée */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; /* empêcher l'animation de revenir au début lorsqu'elle a joué une fois */
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s; /* le delay est incréménter de O.2 pour chaque nouvel élément */
}

.menu_restaurant__group__form .menu_restaurant__group:nth-child(3) .menu_restaurant__box:nth-child(4) {
  -webkit-animation: showPlate;
          animation: showPlate; /* appel keyframes */
  -webkit-animation-duration: 0.35s;
          animation-duration: 0.35s; /* durée de l'animation */
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out; /* type de easing */
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; /* nombre de fois où l'animation est jouée */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; /* empêcher l'animation de revenir au début lorsqu'elle a joué une fois */
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s; /* le delay est incréménter de O.2 pour chaque nouvel élément */
}

.main_footer__wrapper {
  padding: 30px 0;
  max-width: calc(100% - 40px);
  margin: auto;
}
.main_footer__logo {
  width: 100px;
}
.main_footer__list {
  margin-top: 20px;
}
.main_footer__listitem {
  color: #fff;
}
.main_footer__listitem i {
  margin-right: 8px;
}

@media only screen and (min-width: 768px) {
  .main_footer__wrapper {
    width: 90%;
    max-width: 1100px;
    margin: auto;
  }
  .main_footer__logo {
    margin: auto;
  }
  .main_footer__list {
    text-align: center;
  }
  .main_footer__listitem {
    display: inline-block;
    margin: 0 10px;
  }
}