.main_header{
    background-color: #fff;
    &__wrapper{
        position: relative;
        box-shadow: 0 0 10px #ccc;
        z-index:1;
    }
    &__branding{
        width:auto;
        display: block;
        padding:20px 0 15px 0;
        @include containerWidth;
        position: relative;
        .return {
            width:28px;
            height:28px;
            position: absolute;
            left:0;
            top:50%;
            margin-top:-14px;
            a{
                color:$grey;
                i{
                    font-size:28px;
                    line-height: 1;
                }
                &:hover{
                    i{
                        animation-duration: 0.6s; /* durée de l'animation */
                        animation-timing-function: ease-out; /* type de easing */
                        animation-iteration-count: 1; /* nombre de fois où l'animation est jouée */
                        animation-name: returnHome; /* appel keyframes */
                        animation-fill-mode: forwards; /* empêcher l'animation de revenir au début lorsqu'elle a joué une fois */
                        animation-delay: 0;
                    }
                }
            }
            
        }
    }
    &__branding img{
        height:auto;
        width:165px;
        margin:auto;
    }
    &__location{
        padding:13px 0;
        background-color: #eaeaea;
        p{
            @include containerWidth;
            text-align:center;
            color:$grey;
            font-weight: 500;
            i {
                margin-right:10px;
            }
        }
    }
}

@keyframes returnHome {
    0% {
        transform:translateX(0px);
        color:$primaryColor;
    }
    50% {
        transform:translateX(-10px);
        color:$secondaryColor;
    }
    100% {
        transform:translateX(0px);
        color:$primaryColor;
    }
}


// Vue tablette + desktop
@media only screen and (min-width: 768px) {
    .main_header{
        &__branding{
            @include containerWidthDesktop;
        }
    }
}