@keyframes loaderFadeOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}


.loader{
    position: fixed;
    z-index:1;
    width: 100%;
    height:100%;
    background-color:#fff;
    top:0;
    transform: scale(1);
    animation-duration: 0.5s; /* durée de l'animation */
    animation-timing-function: ease-out; /* type de easing */
    animation-delay: 2s; /* durée avant le déclenchement */
    animation-iteration-count: 1; /* nombre de fois où l'animation est jouée */
    animation-name: loaderFadeOut; /* appel keyframes */
    animation-fill-mode: forwards; /* empêcher l'animation de revenir au début lorsqu'elle a joué une fois */
    &__svg{
        display: block;
        max-width: 30%;
        height: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -15%;
        margin-top: -10%;
    }
}

