// Classes du SVG
.cls-1, .cls-2, .cls-3, .cls-4, .cls-5 {
    stroke-linecap: round;
}
.cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6 {
    fill: none;
    stroke-miterlimit: 10;
    stroke-width: 62px;
}
.cls-2 {
    stroke: #ccc;
}
.cls-3, .cls-6 {
    stroke: #ededed;
}
.cls-7 {
    fill: #ccc;
}

// L'animation est composée de 5 étapes.

// 1 - La durée total du loader est définie ici, grâce à "animation-delay" pour les classes .loader et .loader__svg
//Fade out et disparition du wrapper du loader
@keyframes fullLoaderFadeOut {
    0% {
        transform: scale(1);
        opacity:1;
    }
    90%{
        opacity:0;
        transform: scale(1);
    }
    100% {
        opacity:0;
        transform: scale(0);
    }
}
//Fade in du Loader (SVG)
@keyframes loaderFadeIn {
    0% {
        transform: scale(0);
        opacity:0;
    }
    10% {
        transform: scale(1);
        opacity:1;
    }
    80% {
        transform: scale(1);
        opacity:1;
    }
    90% {
        transform: scale(1.4);
        opacity:1;
    }
    100% {
        transform: scale(0);
        opacity:0;
    }
}
.loader{
    position: fixed;
    z-index:103;
    width: 100%;
    height:100%;
    background-color:#fff;
    top:0;
    transform: scale(1);
    animation-duration: 0.5s; /* durée de l'animation */
    animation-timing-function: ease-out; /* type de easing */
    animation-delay: 5.2s; /* durée avant le déclenchement */
    animation-iteration-count: 1; /* nombre de fois où l'animation est jouée */
    animation-name: fullLoaderFadeOut; /* appel keyframes */
    animation-fill-mode: forwards; /* empêcher l'animation de revenir au début lorsqu'elle a joué une fois */
    &__svg{
        display: block;
        max-width: 60%;
        height: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -30%;
        margin-top: -20%;
        transform: scale(0);
        animation-duration: 5s; /* durée de l'animation */
        animation-timing-function: cubic-bezier(.54,-0.01,.27,1.5); /* type de easing */
        animation-delay: 0.3s; /* durée avant le déclenchement */
        animation-iteration-count: 1; /* nombre de fois où l'animation est jouée */
        animation-name: loaderFadeIn; /* appel keyframes */
        animation-fill-mode: forwards; /* empêcher l'animation de revenir au début lorsqu'elle a joué une fois */
    }
}

// 2 - Animation des cercles du loader (les cercles gris clair sans couleurs)
@keyframes loadGroupFadeIn {
    0% {
        transform: scale(0.8);
        transform-origin: center;
        opacity:0;
    }
    100% {
        transform: scale(1);
        transform-origin: center;
        opacity:1;
    }
}
#load_1_group,
#load_2_group,
#load_3_group{
    opacity:0;
    animation-duration: 0.4s; /* durée de l'animation */
    animation-timing-function: cubic-bezier(.54,-0.01,.27,1.5); /* type de easing */
    animation-iteration-count: 1; /* nombre de fois où l'animation est jouée */
    animation-name: loadGroupFadeIn; /* appel keyframes */
    animation-fill-mode: forwards; /* empêcher l'animation de revenir au début lorsqu'elle a joué une fois */
}
#load_1_group{
    animation-delay: 0.6s; /* durée avant le déclenchement */
}
#load_2_group{
    animation-delay: 0.65s; /* durée avant le déclenchement */
}
#load_3_group{
    animation-delay: 0.7s; /* durée avant le déclenchement */
}


// 3 - Animation du couteau et de la fourchette
@keyframes forkKnife {
    0% {
        transform: rotate(-30deg);
        transform-origin: center;
        opacity:0;
    }
    100% {
        transform: rotate(0deg);
        transform-origin: center;
        opacity:1;
    }
}
#fork_knife{
    display: block;
    transform: rotate(0deg);
    opacity:0;
    animation-duration: 0.4s; /* durée de l'animation */
    animation-timing-function: cubic-bezier(.54,-0.01,.27,1.5); /* type de easing */
    animation-delay: 0.9s; /* durée avant le déclenchement */
    animation-iteration-count: 1; /* nombre de fois où l'animation est jouée */
    animation-name: forkKnife; /* appel keyframes */
    animation-fill-mode: forwards; /* empêcher l'animation de revenir au début lorsqu'elle a joué une fois */
}


// 4 - Apparition des cercles colorés (c'est un groupe à part dans le SVG pour pouvoir être animé indépendamment des cercles gris clairs du loader - étape 2)
@keyframes loadersFadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
#load_1_groupspin_opacity{
    opacity:0;
    animation-duration: 1s; /* durée de l'animation */
    animation-timing-function: cubic-bezier(.54,-0.01,.27,1.5); /* type de easing */
    animation-iteration-count: 1; /* nombre de fois où l'animation est jouée */
    animation-name: loadersFadeIn; /* appel keyframes */
    animation-fill-mode: forwards; /* empêcher l'animation de revenir au début lorsqu'elle a joué une fois */
    animation-delay: 1s;
}
#load_1{
    stroke:$tertiaryColor;
}
#load_2{
    stroke:$primaryColor;
}
#load_3{
    stroke:$secondaryColor;
}

// 5 - Animation des cercles colorés du loader
@keyframes loadersSpin {
    0% {
        transform: rotate(0);
        transform-origin: center;
    }
    100% {
        transform: rotate(360deg);
        transform-origin: center;
    }
}
#load_1_groupspin,
#load_2_groupspin,
#load_3_groupspin{
    animation-timing-function: linear; /* type de easing */
    animation-iteration-count: infinite; /* nombre de fois où l'animation est jouée */
    animation-name: loadersSpin; /* appel keyframes */
    animation-delay: 0.6s;
}
#load_1_groupspin{animation-duration: 1.4s;}
#load_2_groupspin{animation-duration: 2s;}
#load_3_groupspin{animation-duration: 3.4s;}

// FIN - L'animation se termine grâce à l'étape 1 (fade out)

// Redimenssionnement du loader sur tablette + desktop
@media only screen and (min-width: 768px) {
    .loader{
        &__svg{
            max-width: 30%;
            margin-left: -15%;
            margin-top: -10%;
        }
    }
    
}