.head_restaurant{
    background-color:$light;
    padding-bottom:40px;
    &__wrapper{
        position: relative;
        &__img{
            padding-top:75%;
            position: relative;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                top:0;
                left:0;
                object-fit:cover;
            }
        }
        &__title{
            background-color:$light;
            padding-top:40px;
            border-radius:40px 40px 0 0;
            position: absolute;
            width: 100%;
            bottom:-7px;
            &__w{
                @include containerWidth;
                display:flex;
                h1 {
                    color:#000;
                    font-family: 'Shrikhand', cursive;
                    width: calc(100% - 30px);
                }
                &__like{
                    width:30px;
                    height:30px;
                    position: relative;
                    .like{
                        right:0;
                    }
                }
            }
        }
    }
}


// Vue tablette + desktop
@media only screen and (min-width: 600px) {
    .head_restaurant{
        &__wrapper{
            &__img{
                padding-top:56.25%;
            }
            &__title{
                &__w{
                    h1 {
                        width: calc(100% - 55px);
                    }
                    &__like{
                        width:50px;
                        .like{
                            right:25px;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 768px) {
    .head_restaurant{
        padding-bottom:60px;
        &__wrapper{
            max-width:600px;
            margin:auto;
            &__img{
                img{
                    border-radius: $radius;
                }
            }
            &__title{
                width:calc(100% - 80px);
                padding-top:30px;
                border-radius: 30px 30px 0 0;
                left:40px;
                &__w{
                    h1 {
                        width: calc(100% - 30px);
                    }
                    &__like{
                        width:30px;
                        .like{
                            right:0px;
                        }
                    }
                }
            }
        }
    }
}