// Styles pour la section qui présente la liste des restaurants
.list_restaurants{
    background-color:$light;
    &__wrapper{
        padding:60px 0 40px 0;
        @include containerWidth;
    }
    &__title{
        @include titleSection;
    }
    &__container{
        @include displayFlexContainer;
    }
}

.restaurant{
    margin-bottom:20px;
    background-color:#fff;
    border-radius:$radius;
    width: 100%;
    a {
        border-radius:$radius;
        box-shadow:0 0 10px #ccc;
        display:block;
        transition:$tspeed box-shadow ease-in-out;
        &:hover{
            box-shadow:0 0 20px #777;
            transition:$tspeed box-shadow ease-in-out;
        }
        &:hover .restaurant__name{
            color:$primaryColor;
            transition:$tspeed color ease-in-out;
        }
    }
    &__img{
        border-radius:$radius $radius 0 0;
        position: relative;
        padding-top:53%;
        img{
            border-radius:$radius $radius 0 0;
            position: absolute;
            top: 0;
            object-fit: cover;
            height: 100%;  
        }
    }
    &__info{
        padding:15px 80px 15px 20px;
        position: relative;
    }
    &__name{
        font-size:18px;
        line-height:1.6;
        font-weight:700;
        transition:$tspeed color ease-in-out;
    }
    &__location{
        font-size:18px;
        line-height:1.6;
        font-weight:300;
    }
    &__like{
        position: absolute;
        right:0;
        top:0;
        width:80px;
        height:100%;
    }
    &--new .restaurant__img:before{
        content:"Nouveau";
        position: absolute;
        padding: 10px 12px;
        color:lightness-down($tertiaryColor);
        background-color:$tertiaryColor;
        right:12px;
        top:12px;
        line-height: 1;
        font-size: 14px;
        border-radius: 3px;
        font-weight:700;
        z-index: 1;
    }
}

// Objet coeur
@keyframes likePlainOut {
    0% {
        transform: scale(1);
        opacity:0.5;
        transform-origin: center;
    }
    99% {
        transform: scale(2);
        opacity:0;
        transform-origin: center;
    }
    100% {
        transform: scale(1);
        opacity:0;
        transform-origin: center;
    }
}
.like{
    display: block;
    position: absolute;
    width: 30px;
    height:auto;
    top:50%;
    margin-top:-13px;
    right:25px;
    overflow:visible;
    cursor:pointer;
    .like_plain {
        fill:url(#like-gradient); // ce dégradé est un objet SVG qui se trouve dans le footer des fichiers HTML
        opacity:0;
        transition:$tspeed opacity ease-in-out;
        position: relative;
    }
    .like_outline {
        fill:#000;
        opacity:1;
        transition:$tspeed opacity ease-in-out;
    }
    .like_plain_out{
        fill:$secondaryColor;
        opacity:0;
        transform:scale(1);
        transform-origin: center center;
    }
    &:hover .like_outline{
        opacity:0;
        transition:$tspeed opacity ease-in-out;
    }
    &:hover .like_plain{
        opacity:1;
        transition:$tspeed opacity ease-in-out;
    }
    &:hover .like_plain_out{
        animation-duration: 0.6s; /* durée de l'animation */
        animation-timing-function: ease-out; /* type de easing */
        animation-iteration-count: 1; /* nombre de fois où l'animation est jouée */
        animation-name: likePlainOut; /* appel keyframes */
        animation-fill-mode: forwards; /* empêcher l'animation de revenir au début lorsqu'elle a joué une fois */
        animation-delay: $tspeed;
    }
    }


@media only screen and (min-width: 768px) {
    .list_restaurants{
        &__wrapper{
            padding:60px 0 20px 0;
            @include containerWidthDesktop;
        }
    }
    .restaurant{
        margin-bottom:40px;
        width: calc(50% - 20px);
    }
}