// Styles pour la section qui présente la liste des restaurants
.list_restaurants{
    background-color:#f6f6f6;
    &__wrapper{
        padding:60px 0 40px 0;
        @include containerWidth;
    }
    &__title{
        @include titleSection;
    }
    &__container{
        @include displayFlexContainer;
    }
}

.restaurant{
    margin-bottom:20px;
    background-color:#fff;
    border-radius:$radius;
    width: 100%;
    a {
        border-radius:$radius;
        box-shadow:0 0 10px #ccc;
        display:block;
        transition:0.2s box-shadow ease-in-out;
        &:hover{
            box-shadow:0 0 20px #777;
            transition:0.2s box-shadow ease-in-out;
        }
        &:hover .restaurant__name{
            color:$primaryColor;
            transition:0.2s color ease-in-out;
        }
    }
    &__img{
        border-radius:$radius $radius 0 0;
        img{
            border-radius:$radius $radius 0 0;  
        }
    }
    &__info{
        padding:15px 80px 15px 20px;
        position: relative;
    }
    &__name{
        font-size:18px;
        line-height:1.6;
        font-weight:700;
        transition:0.2s color ease-in-out;
    }
    &__location{
        font-size:18px;
        line-height:1.6;
        font-weight:300;
    }
    &__like{
        position: absolute;
        right:0;
        top:0;
        width:80px;
        height:100%;
    }
}
.like{
    display: block;
    position: absolute;
    width: 30px;
    height:auto;
    top:50%;
    margin-top:-13px;
    right:25px;
    cursor:pointer;
    .like_plain {
        fill:$grey;
        transition:0.2s fill ease-in-out;
    }
    .like_outline {
        fill:$primaryColor;
        opacity:0;
        transition:0.2s opacity ease-in-out;
    }
    &:hover .like_plain {
        fill:$primaryColor;
        transition:0.2s fill ease-in-out;
        }
    &:hover .like_outline {
        opacity:1;
        transition:0.2s opacity ease-in-out;
        }
    }

 

@media only screen and (min-width: 768px) {
    .list_restaurants{
        &__wrapper{
            padding:60px 0 20px 0;
            @include containerWidthDesktop;
        }
    }
    .restaurant{
        margin-bottom:40px;
        width: calc(50% - 20px);
    }
}