// Variables
$grey: #353535;
$light: #f6f6f6;
$primaryColor:#9356DC;
$secondaryColor:#FF79DA;
$tertiaryColor:#99E2D0;
$radius : 12px;
$tspeed : 0.2s;
//Checkbox
$tspeedCheckbox : 0.4s;
$tEaseCheckbox : cubic-bezier(.64,-0.45,.35,1.38);
$tEaseCheckboxIcon : ease-in-out;

// Functions
@function lightness-up($color){
    @return lighten($color, 35%);
    }
@function lightness-down($color){
    @return darken($color, 45%);
    }

// Mixins
@mixin containerWidth{
    max-width: calc(100% - 40px);
    margin:auto;
}
@mixin containerWidthDesktop{
    width:90%;
    max-width: 1100px;
    margin:auto;
}
@mixin containerWidthInherit{
    max-width: inherit;
    margin:inherit;
}
@mixin titleSection{
    font-size:24px;
    font-weight: 700;
    margin-bottom:20px;
}
@mixin displayFlexContainer{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@mixin boxShadow{
    box-shadow: 0 5px 15px #ccc;
}